img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
a:visited {
  color: #000;
}

body {
  background-color: #688AA1;
}
body .company {
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
body .company-main {
  text-align: center;
  margin-top: 5rem;
}
body .company-main-philosophy, body .company-main-policy {
  color: #FFF633;
  font-size: 2rem;
}
body .company-main-philosophy-text, body .company-main-policy-text {
  color: #fff;
  font-size: 2.7rem;
  margin-bottom: 5rem;
}
body .company-profileabout-wrapper {
  background-image: url("../assets/company/profileabout_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 8rem;
}
body .company-profileabout-wrapper .company-profileabout {
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
body .company-profileabout-wrapper .company-profileabout-table {
  margin: 8rem auto 0;
}
body .company-profileabout-wrapper .company-profileabout-table tbody {
  text-align: left;
}
body .company-profileabout-wrapper .company-profileabout-table tbody tr > * {
  vertical-align: top;
  padding: 0 2rem 5rem;
  font-weight: normal;
  font-size: 1.4rem;
}
body .company-otherproject {
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
body .company-otherproject-ranbarse, body .company-otherproject-deepdesign {
  display: flex;
  align-items: center;
}
body .company-otherproject-ranbarse *, body .company-otherproject-deepdesign * {
  width: 100%;
  text-align: center;
}
body .company-otherproject-ranbarse-img, body .company-otherproject-deepdesign-img {
  opacity: 0.3;
  transition: 0.6s;
}
body .company-otherproject-ranbarse-img:hover, body .company-otherproject-deepdesign-img:hover {
  opacity: 1;
}
body .company-otherproject-ranbarse-text-tl, body .company-otherproject-deepdesign-text-tl {
  color: #FFF633;
  font-size: 1.4rem;
  line-height: 5;
}
body .company-otherproject-ranbarse-text-txt, body .company-otherproject-deepdesign-text-txt {
  font-size: 1.2rem;
}
body .company-news-wrapper {
  background-color: #fff;
  height: 100vh;
  padding: 8rem 0 8rem 0;
}
body .company-news-wrapper .company-news {
  max-width: 1290px;
  margin: 5rem auto 10rem;
  background-image: url("../assets/company/news_airplane.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
}
body .company-news-wrapper .company-news-article {
  margin-top: 10rem;
  width: 30%;
  margin-left: auto;
  margin-right: 0;
}
body .company-news-wrapper .company-news-article ul {
  padding-left: 0;
}
body .company-news-wrapper .company-news-article-btn {
  transition: 1s;
}
body .company-news-wrapper .company-news-article-btn span {
  font-size: 1.6rem;
}
body .company-news-wrapper .company-news-article-btn span::after {
  content: url(../assets/company/news_btn.png);
  margin-left: 1.2rem;
  vertical-align: -0.3rem;
}
body .company-news-wrapper .company-news-article-btn:hover {
  transform: translateX(5rem);
}
body .company-news-wrapper .company-news-list {
  list-style: none;
  margin-bottom: 0.8rem;
}
body .company-news-wrapper .company-news-list time {
  opacity: 0.5;
}
body .company-news-wrapper .company-news-list-text {
  font-size: 1.2rem;
  font-weight: bold;
}
/*# sourceMappingURL=company.css.map */