//色
$main-color: #688AA1;
$accent-color: #FFF633;
$text-color: #000;
$white-color: #fff;
$blue-color: #085BBD;
$light-blue-color:#B2C4CF;

//共通
img {
	max-width: 100%;
	height: auto;
}
a{
  text-decoration: none;
  &:visited{
    color: $text-color;
  }
}
@mixin site-wide{
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
@mixin background-normal($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin contact-base(){
  border:none;
  background-color: $light-blue-color;
  border-radius: 0 75px 75px 0;
  width: 70%;
  height: 2rem;
}  
@mixin faq(){  
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  line-height: 2.2;
  width: 2rem;
  height: 2rem;
  background-color: $main-color;
  border-radius: 75px;
}


.contact-section{
  display: flex;
}

body{
  background-color: $main-color;
  .contact{
    &-title{
      @include site-wide();
    }
    &-section{
      background-color: $white-color;
      display: flex;
      justify-content: right;
      &-contact{
        width: 50%;
      }
      &-wrapper{
        width: 40%;
        padding-left: 5rem;
        background-color: $main-color;
        margin-top: -20rem;
        &-right{
          position: -webkit-sticky; /* Safari */  
          position: sticky;
          top: 0;
        }
      }
      &-content{
        &-main{
          width: 60vw;
          .wpcf7{
            width: 70%;
            margin: 0 auto;
            label{
              margin-top: 2rem;
              display: inline-block;
              width: 100%;
            }
            &-text{
              border:none;
              background-color: $light-blue-color;
              border-radius: 0 75px 75px 0;
              width: 70%;
              height: 2rem;
            }
            &-textarea{
              border:none;
              background-color: $light-blue-color;
              border-radius: 0 25px 25px 0;
              width: 70%;
              resize: none;
            }
            &-submit:disabled{
              border:none;
              background-color: $blue-color;
              border-radius: 0 75px 75px 0;
              width: 70%;
              color: $white-color;
              height: 2rem;
              opacity: 0.5;
            }
            &-submit[type="submit" i] {
              border:none;
              background-color: $blue-color;
              border-radius: 0 75px 75px 0;
              width: 70%;
              color: $white-color;
              height: 2rem;
            }
          }
        }
        .contact-faq{
          width: 60vw;
          margin-top: 10rem;
          margin-bottom: 10rem;
          &-wrraper{
            width: 70%;
            margin: 0 auto;
            &-title{
              span{
                font-size: 3rem;
              }
            }
            &-text{
              margin-top: 2rem;
              span:first-child{
                @include faq();
              }
              span::nth-child(2){
                font-size: 1.2rem;
              }
              &-answer{
                &-yellow{
                  margin-top: 1rem;
                  span:first-child{
                    @include faq();
                    background-color: $accent-color;
                  }
                }
                &-blue{
                  margin-top: 1rem;
                  span:first-child{
                    @include faq();
                    color: #fff;
                    background-color: $blue-color;
                  }
                }
                
              }

            }
          }
        }
      }


    }
  }
}