//色
$main-color: #688AA1;
$accent-color: #FFF633;
$text-color: #000;
$white-color: #fff;
$blue-color: #085BBD;

//共通
img {
	max-width: 100%;
	height: auto;
}
a{
  text-decoration: none;
  &:visited{
    color: $text-color;
  }
}
@mixin site-wide{
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
@mixin background-normal($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin faq(){  
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  line-height: 2.2;
  width: 2rem;
  height: 2rem;
  background-color: $main-color;
  border-radius: 75px;
}


.contact-section{
  display: flex;
}

body{
  background-color: $main-color;
  .contact{
    &-title{
      @include site-wide();
    }
    &-section{
      background-color: $white-color;
      display: flex;
      justify-content: right;
      &-contact{
        width: 50%;

      }
      &-wrapper{
        width: 40%;
        margin-right: 0;
        background-color: $main-color;
        position: relative;
        &-right{
          position: fixed;
          bottom: 0;
          right: 5rem;
        }
      }
      &-content{
        .contact-faq{
          width: 60vw;
          &-wrraper{
            width: 70%;
            margin: 0 auto;
            &-title{
              span{
                font-size: 3rem;
              }
            }
            &-text{
              margin-top: 2rem;
              span:first-child{
                @include faq();
              }
              span::nth-child(2){
                font-size: 1.2rem;
              }
              &-answer{
                &-yellow{
                  margin-top: 1rem;
                  span:first-child{
                    @include faq();
                    background-color: $accent-color;
                  }
                }
                &-blue{
                  margin-top: 1rem;
                  span:first-child{
                    @include faq();
                    color: #fff;
                    background-color: $blue-color;
                  }
                }
                
              }

            }
          }
        }
      }


    }
  }
}