//色
$main-color: #688AA1;
$accent-color: #FFF633;
$text-color: #000;
$white-color: #fff;

//共通
img {
	max-width: 100%;
	height: auto;
}
a{
  text-decoration: none;
  &:visited{
    color: $text-color;
  }
}
@mixin site-wide{
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
@mixin backgraund-accent($url,$type) {
  background-image: url($url);
  background-size: $type;
  background-repeat: no-repeat;
}

body{
  margin: 0;
  background-color: $main-color;
  //サービス
  .service-wrapper{
    &-title{
      @include site-wide();
    }
    &-dev{
      &-top{
        position: relative;
        text-align: right;
        &-back{
          position: absolute;
          top: 2.5rem;
          right: 0;
          width: 60vw;
        }
        &-title{
          position: absolute;
          right: -40rem;
          z-index: 1;
          transition: 2s;
          opacity: 0.2;
          &-img-fadein{
            opacity: 1;
            right: 0;
            
          } 
        }
      }
      &-content{
        @include site-wide();
        padding-top: 10rem;
        display: flex;
        align-items: flex-start;

        &-text{
          margin: 0 auto;
          &-group{
            text-align: left;
            &-tl{
              color: $accent-color;
              font-size: 2rem;
              line-height: 2;
            }
            &-txt{
              color: $white-color;
            }
          }
        }
      }
    }

    //デザイン
    &-design{
      &-top{
        position: relative;
        &-back{
          position: absolute;
          top: 2.5rem;
          width: 60vw;
        }
        &-title{
          position: absolute;
          z-index: 1;
          left: -40rem;
          transition: 2s;
          opacity: 0.2;
          &-img-fadein{
            opacity: 1;
            left: 0rem;
            
          } 
        }
      }
      &-text{
        @include site-wide();
        padding-top: 10rem;
        &-tl{
          color: $accent-color;
          font-size: 2rem;
          line-height: 2;
        }
        &-txt{
          color: $white-color;
        }
      }
    }

    //コンサル
    &-consul{
      &-top{
        position: relative;
        text-align: right;
        &-back{
          position: absolute;
          top: 2.5rem;
          right: 0;
          width: 60vw;
        }
        &-title{
          position: absolute;
          right: 0;
          z-index: 1;

          right: -40rem;
          z-index: 1;
          transition: 2s;
          opacity: 0.2;
          &-img-fadein{
            opacity: 1;
            right: 0;
            
          } 
        }
      }
      &-text{
        @include site-wide();
        padding-top: 10rem;
        margin: 0 auto;
        
        text-align: right;
        &-tl{
          color: $accent-color;
          font-size: 2rem;
          line-height: 2;
        }
        &-txt{
          color: $white-color;
        }
      }
    }
  }

  .service-product{
    margin-top: 10rem;
    &-wrapper{
      &-title{
        text-align: center;
      }

      &-content{
        @include site-wide();
        display: flex;
        justify-content: center;
        &-main{
          width: 50%;
          opacity: .3;
          transition: 0.6s;
          &:hover{
            opacity: 1;

          }
          
          &-img{
            text-align: center;
          }
          &-btn{
            margin-left: 5rem;
            transition: 1s;
            
            span{
              font-size: 1.6rem;
              &::after{
                content: url(../assets/company/news_btn.png);
                margin-left: 1.2rem;
                vertical-align: -.3rem;
              }
            }
            &:hover{
              transform: translateX(5rem); 
            }
            
          }
        }
        &-sub{
          width: 50%;
          &-txt{
            margin-top:5rem; 
            vertical-align: middle;
            text-align: center;
          }
        }
      }


    }
  }

}