img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
a:visited {
  color: #000;
}

body {
  margin: 0;
  background-color: #688AA1;
}
body .service-wrapper-title {
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
body .service-wrapper-dev-top {
  position: relative;
  text-align: right;
}
body .service-wrapper-dev-top-back {
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 60vw;
}
body .service-wrapper-dev-top-title {
  position: absolute;
  right: -40rem;
  z-index: 1;
  transition: 2s;
  opacity: 0.2;
}
body .service-wrapper-dev-top-title-img-fadein {
  opacity: 1;
  right: 0;
}
body .service-wrapper-dev-content {
  max-width: 1290px;
  margin: 5rem auto 10rem;
  padding-top: 10rem;
  display: flex;
  align-items: flex-start;
}
body .service-wrapper-dev-content-text {
  margin: 0 auto;
}
body .service-wrapper-dev-content-text-group {
  text-align: left;
}
body .service-wrapper-dev-content-text-group-tl {
  color: #FFF633;
  font-size: 2rem;
  line-height: 2;
}
body .service-wrapper-dev-content-text-group-txt {
  color: #fff;
}
body .service-wrapper-design-top {
  position: relative;
}
body .service-wrapper-design-top-back {
  position: absolute;
  top: 2.5rem;
  width: 60vw;
}
body .service-wrapper-design-top-title {
  position: absolute;
  z-index: 1;
  left: -40rem;
  transition: 2s;
  opacity: 0.2;
}
body .service-wrapper-design-top-title-img-fadein {
  opacity: 1;
  left: 0rem;
}
body .service-wrapper-design-text {
  max-width: 1290px;
  margin: 5rem auto 10rem;
  padding-top: 10rem;
}
body .service-wrapper-design-text-tl {
  color: #FFF633;
  font-size: 2rem;
  line-height: 2;
}
body .service-wrapper-design-text-txt {
  color: #fff;
}
body .service-wrapper-consul-top {
  position: relative;
  text-align: right;
}
body .service-wrapper-consul-top-back {
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 60vw;
}
body .service-wrapper-consul-top-title {
  position: absolute;
  right: 0;
  z-index: 1;
  right: -40rem;
  z-index: 1;
  transition: 2s;
  opacity: 0.2;
}
body .service-wrapper-consul-top-title-img-fadein {
  opacity: 1;
  right: 0;
}
body .service-wrapper-consul-text {
  max-width: 1290px;
  margin: 5rem auto 10rem;
  padding-top: 10rem;
  margin: 0 auto;
  text-align: right;
}
body .service-wrapper-consul-text-tl {
  color: #FFF633;
  font-size: 2rem;
  line-height: 2;
}
body .service-wrapper-consul-text-txt {
  color: #fff;
}
body .service-product {
  margin-top: 10rem;
}
body .service-product-wrapper-title {
  text-align: center;
}
body .service-product-wrapper-content {
  max-width: 1290px;
  margin: 5rem auto 10rem;
  display: flex;
  justify-content: center;
}
body .service-product-wrapper-content-main {
  width: 50%;
  opacity: 0.3;
  transition: 0.6s;
}
body .service-product-wrapper-content-main:hover {
  opacity: 1;
}
body .service-product-wrapper-content-main-img {
  text-align: center;
}
body .service-product-wrapper-content-main-btn {
  margin-left: 5rem;
  transition: 1s;
}
body .service-product-wrapper-content-main-btn span {
  font-size: 1.6rem;
}
body .service-product-wrapper-content-main-btn span::after {
  content: url(../assets/company/news_btn.png);
  margin-left: 1.2rem;
  vertical-align: -0.3rem;
}
body .service-product-wrapper-content-main-btn:hover {
  transform: translateX(5rem);
}
body .service-product-wrapper-content-sub {
  width: 50%;
}
body .service-product-wrapper-content-sub-txt {
  margin-top: 5rem;
  vertical-align: middle;
  text-align: center;
}
/*# sourceMappingURL=Service.css.map */