*::before, *::after {
  box-sizing: border-box;
}

html, body, p, video {
  padding: 0;
  margin: 0;
}

img, video {
  max-width: 100%;
  height: auto;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: #000;
}

@font-face {
  font-family: "BIZUDPMincho";
  src: url("../fonts/BIZUDPMincho-Regular.ttf") format("woff"); /* medium */
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "BIZUDPMincho";
}

.Top-first-view {
  background-color: #688AA1;
}
.Top-first-view video {
  width: 100%;
}

.top-service-wrapper {
  background-color: #688AA1;
  height: auto;
  padding-top: 5rem;
  border-bottom: solid 3rem #085BBD;
}
.top-service-wrapper .top-service {
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
.top-service-wrapper .top-service > h2 {
  text-align: center;
}
.top-service-wrapper .top-service-content {
  margin: 5rem 10rem 0 5rem;
  display: flex;
  justify-content: space-between;
}
.top-service-wrapper .top-service-content a:hover {
  opacity: 0.5;
}
.top-service-wrapper .top-service-content-img {
  margin: 0 2rem;
}

.top-products-wrapper {
  background-color: #A6B2B9;
  height: auto;
  padding: 1rem 0 4rem 0;
  border-top: solid 3rem #FFF633;
  border-bottom: solid 3rem #085BBD;
  position: relative;
}
.top-products-wrapper > .bird {
  position: absolute;
  top: -10%;
  left: 60%;
}
.top-products-wrapper .top-product {
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
.top-products-wrapper .top-product .top-product {
  margin: 10px 0;
}
.top-products-wrapper .top-product .top-product-wrapper-title {
  text-align: center;
}
.top-products-wrapper .top-product .top-product-wrapper-content {
  max-width: 1290px;
  margin: 5rem auto 10rem;
  display: flex;
  justify-content: center;
}
.top-products-wrapper .top-product .top-product-wrapper-content-main {
  width: 50%;
  opacity: 0.3;
  transition: 0.6s;
}
.top-products-wrapper .top-product .top-product-wrapper-content-main:hover {
  opacity: 1;
}
.top-products-wrapper .top-product .top-product-wrapper-content-main-img {
  text-align: center;
}
.top-products-wrapper .top-product .top-product-wrapper-content-main-btn {
  margin-left: 5rem;
  transition: 1s;
}
.top-products-wrapper .top-product .top-product-wrapper-content-main-btn span {
  font-size: 1.6rem;
}
.top-products-wrapper .top-product .top-product-wrapper-content-main-btn span::after {
  content: url(../assets/company/news_btn.png);
  margin-left: 1.2rem;
  vertical-align: -0.3rem;
}
.top-products-wrapper .top-product .top-product-wrapper-content-main-btn:hover {
  transform: translateX(5rem);
}
.top-products-wrapper .top-product .top-product-wrapper-content-sub {
  width: 50%;
}
.top-products-wrapper .top-product .top-product-wrapper-content-sub-txt {
  margin-top: 5rem;
  vertical-align: middle;
  text-align: center;
  line-height: 1.8rem;
}

.top-testimonial-wrapper {
  background-color: #688AA1;
  height: 900px;
  padding: 1rem 0;
  border-top: solid 3rem #FFF633;
  border-bottom: solid 3rem #085BBD;
}
.top-testimonial-wrapper .top-testimonial {
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
.top-testimonial-wrapper .top-testimonial > h2 {
  text-align: center;
}
.top-testimonial-wrapper .top-testimonial > .top-testimonial-content > .top-testimonial-text {
  color: #FFF633;
  text-align: center;
  margin-top: 3rem;
  line-height: 2em;
}
.top-testimonial-wrapper .top-testimonial > .top-testimonial-content > .top-testimonial-img {
  text-align: right;
}

.top-news-wrapper {
  background-color: #fff;
  height: 900px;
  padding-top: 4rem;
  border-top: solid 3rem #FFF633;
}
.top-news-wrapper .top-news {
  max-width: 1290px;
  margin: 5rem auto 10rem;
  background-image: url("../assets/top/news_airplane.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
  height: 80%;
}
.top-news-wrapper .top-news-article {
  margin-top: 8rem;
  width: 30%;
  margin-left: auto;
  margin-right: 0;
}
.top-news-wrapper .top-news-article ul {
  padding-left: 0;
  margin-bottom: 2rem;
}
.top-news-wrapper .top-news-article-btn {
  transition: 1s;
}
.top-news-wrapper .top-news-article-btn span {
  font-size: 1.6rem;
}
.top-news-wrapper .top-news-article-btn span::after {
  content: url(../assets/top/news_btn.png);
  margin-left: 1.2rem;
  vertical-align: -0.3rem;
}
.top-news-wrapper .top-news-article-btn:hover {
  transform: translateX(5rem);
}
.top-news-wrapper .top-news-list {
  list-style: none;
  margin-bottom: 0.8rem;
}
.top-news-wrapper .top-news-list date {
  display: inline-block;
  opacity: 0.5;
  padding-bottom: 0.5rem;
}
.top-news-wrapper .top-news-list-text {
  font-size: 1.2rem;
  font-weight: bold;
}
.top-news-wrapper .top-news-list:hover {
  opacity: 0.5;
}
/*# sourceMappingURL=top.css.map */