//色
$main-color: #688AA1;
$sub-color: #A6B2B9;
$text-color: #000;
$white-color: #fff;

//リセットCSS
*::before, *::after {
	box-sizing: border-box;
}

html, body, p, video {
	padding: 0;
	margin: 0;
}

img, video {
	max-width: 100%;
	height: auto;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	&:visited{
    color: $text-color;
  }
}

@mixin site-wide{
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
@mixin background-normal($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}

//main
body {
	background-color: $main-color;
}

.news {
	@include site-wide();
	&-article{
		margin-top: 5rem;
		ul{
			padding-left: 0;
		}
		&-btn{
			transition: 1s;
			span{
				font-size: 1.6rem;
				&::after{
					content: url(../assets/top/news_btn.png);
					margin-left: 1.2rem;
					vertical-align: -.3rem;
				}
			}
			&:hover{
				transform: translateX(5rem); 
			}
		}
	}
	&-list{
		background-color: $white-color;
		border: solid 0.5px $sub-color;
		border-radius: 10px;
		padding: .8rem 0 .8rem 4rem;
		margin-bottom: .3rem;
		
		date{
			display: inline-block;
			font-size: .8rem;
			opacity: .5;
			padding-bottom: .5rem;
		}
		&:hover {
			background-color: $sub-color;
		}
		&-text{
			span{
				font-size: 1.2rem;
				font-weight: bold;
				position: relative;
				&::after{
					content: url(../assets/top/news_btn.png);
					top: -.8rem;
					left: 72rem;
					line-height: 1rem;
					position: absolute;
					vertical-align: middle;
				}
			}
		}
	}
}
//wordpress用
.nav-links{
	background-color: $white-color;
	display: flex;
	margin: 5rem auto;
	width: 15%;
	.page-numbers{
		display: inline-block;
		border: solid 0.5px $sub-color;
		text-align: center;
		padding: 1rem 0;
		width: 100%;

		&:hover {
			background-color: $sub-color;
		}
	}	
}
.prev,.next{
	display: none !important;
}