//色
$main-color: #688AA1;
$sub-color: #A6B2B9;
$accent-color: #FFF633;
$accent-sub-color: #085BBD;
$text-color: #000;
$white-color: #fff;

//リセットCSS
*::before, *::after {
	box-sizing: border-box;
}

html, body, p, video {
	padding: 0;
	margin: 0;
}

img, video {
	max-width: 100%;
	height: auto;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	&:visited{
    color: $text-color;
  }
}


@font-face {
	font-family: 'BIZUDPMincho';
	src: url( "../fonts/BIZUDPMincho-Regular.ttf") format('woff'); /* medium */
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'BIZUDPMincho';
}

@mixin site-wide{
  max-width: 1290px;
  margin: 5rem auto 10rem;
}
@mixin background-normal($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}

//中身
.Top-first-view {
	background-color: $main-color;
	video {
		width: 100%;
	}
}

.top-service-wrapper {
	background-color: $main-color;
	height: auto;
	padding-top: 5rem;
	border-bottom: solid 3rem $accent-sub-color;

	.top-service{
		@include site-wide();
		& > h2 {
			text-align: center;
		}
		&-content{
			margin: 5rem 10rem 0 5rem;
			display: flex;
			justify-content: space-between;
			a:hover{
				opacity: .5;
			}
			&-img{
				margin: 0 2rem;
			}
		}
	}
}

.top-products-wrapper {
	background-color: $sub-color;
	height: auto;
	padding: 1rem 0 4rem 0;
	border-top: solid 3rem $accent-color;
	border-bottom: solid 3rem $accent-sub-color;
	position: relative;
	
	& > .bird {
		position: absolute;
		top: -10%;
		left: 60%;
	}
	
	.top-product{
		@include site-wide();

		.top-product{
			margin: 10px 0;

			&-wrapper{
				&-title{
					text-align: center;
				}
				&-content{
					@include site-wide();
					display: flex;
					justify-content: center;
					&-main{
						width: 50%;
						opacity: .3;
						transition: 0.6s;
						&:hover{
							opacity: 1;
						}
						&-img{
							text-align: center;
						}
						&-btn{
							margin-left: 5rem;
							transition: 1s;
							span{
								font-size: 1.6rem;
								&::after{
									content: url(../assets/company/news_btn.png);
									margin-left: 1.2rem;
									vertical-align: -.3rem;
								}
							}
							&:hover{
								transform: translateX(5rem);
							}
						}
					}
					&-sub{
						width: 50%;
						&-txt{
							margin-top:5rem;
							vertical-align: middle;
							text-align: center;
							line-height: 1.8rem;
						}
					}
				}
			}
		}
	}
}

.top-testimonial-wrapper {
	background-color: $main-color;
	height: 900px;
	padding: 1rem 0;
	border-top: solid 3rem $accent-color;
	border-bottom: solid 3rem $accent-sub-color;

	.top-testimonial{
		@include site-wide();
		& > h2 {
			text-align: center;
		}
		& > .top-testimonial-content{
			& > .top-testimonial-text{
				color: $accent-color;
				text-align: center;
				margin-top: 3rem;
				line-height: 2em;
			}
			& > .top-testimonial-img{
				text-align: right;
			}
		}
	}
}

.top-news-wrapper{
	background-color: $white-color;
	height: 900px;
	padding-top: 4rem;
	border-top: solid 3rem $accent-color;
	.top-news{
		@include site-wide();
		@include background-normal("../assets/top/news_airplane.svg");
		background-position-x: left;
		height: 80%;
		&-article{
			margin-top: 8rem;
			width: 30%;
			margin-left: auto;
			margin-right: 0;
			ul{
				padding-left: 0;
				margin-bottom: 2rem;
			}
			
			&-btn{
				transition: 1s;
				
				span{
					font-size: 1.6rem;
					&::after{
						content: url(../assets/top/news_btn.png);
						margin-left: 1.2rem;
						vertical-align: -.3rem;
					}
				}
				&:hover{
					transform: translateX(5rem); 
				}
			}
		}
		&-list{
			list-style: none;
			margin-bottom: .8rem;
			date{
				display: inline-block;
				opacity: .5;
				padding-bottom: .5rem;
			}
			&-text{
				font-size: 1.2rem;
				font-weight: bold;
			}
			&:hover{
				opacity: .5;
			}
		}
	}
}